AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=

GOOGLE_SEARCH_PROVIDER=google_news
GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=

PAPPERS_API_TOKEN=

COMPANIES_HOUSE_API_KEY=